<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Secrets</h1>
    <p class="lead">Don't keep your secrets, share them anonymously!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
    <div class="row justify-content-center">
      <div class="card social-block" style="width: fit-content;">
        <div class="card-body">
          <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Login with Google
            <a class="btn btn-block btn-social btn-facebook" href="#" role="button">
              <i class="fab fa-facebook"></i>
              Login with Facebook
            <a class="btn btn-block btn-social btn-instagram" href="#" role="button">
              <i class="fab fa-instagram"></i>
              Login with Instagram
            <a class="btn btn-block btn-social btn-microsoft" href="#" role="button">
              <i class="fab fa-microsoft"></i>
              Login with Microsoft
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
